[Unit]
Description=The snappy web interface for your 3D printer
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ octoprint_user }}
ExecStart={{ install_dir }}/Octoprint/venv/bin/octoprint

[Install]
WantedBy=multi-user.target